body {
  background-image: url("./bgsignin.avif");
  background-size: cover;
}
.signin-container {
  width: 420px;
  padding: 50px;
  margin: 50px auto;
  border-radius: 30px;
  backdrop-filter: blur(30px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.signin-container label {
  color: #fff;
}
.heading {
  font-size: 36px;
  padding: 10px 0px 30px;
  font-weight: 800;
  text-align: center;
  color: #fff;
}
.signup-mess {
  text-align: center;
  margin-top: 30px;
}
.signup-mess span {
  font-weight: 700;
  color: #fff;
}

.another-signup {
  text-align: center;
  font-size: 17px;
  color: #fff;
  margin-top: 20px;
  font-weight: 500;
}

.signup {
  color: rgb(0, 153, 255);
  font-weight: 700;
  margin-left: 5px;
  font-size: 22px;
}
.icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.icons div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.icons i {
  font-size: 18px;
  color: #fff;
}

@media (max-width: 500px) {
  .signin-container {
    width: 85%;
  }
}
